<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My welcome page</title>
</head>
<body>
    <h1>First impression of my page</h1>

<!--/*@thymesVar id="variable" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${variable}"></span>

<br>

    <!--/*@thymesVar id="one" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <p>2*2=<span th:text="${two}*${two}"></span></p>
    <p>2*2+2=<span th:text="${two}*${two}+${two}"></span></p>
    <p>2-2*2=<span th:text="${two}-${two}*${two}"></span></p>

</body>
</html>